*.psess
*.vsp
*.log
*.err
*.wrn
*.suo
*.sdf
*.user
*.i
*.vspscc
*.opensdf
*.opendb
*.ipch
*.cache
*.tlog
*.lastbuildstate
*.ilk
*.VC.db
*.lib
*.obj
*.pdb
caliD3D11*.exe
.vs
Bin
*.idb
x64/Debug/cali_test.exe
*.enc
src/cali/Debug.txt
depends/essential_math/common/Includes/IvAABB.h
depends/essential_math/common/Includes/IvCapsule.h
depends/essential_math/common/Includes/IvBoundingSphere.h
depends/essential_math/common/Includes/IvCovariance.h
depends/essential_math/common/Includes/IvOBB.h
x64/Release/cali_test.exe
x64/Release/cali_test.iobj
x64/Release/cali_test.ipdb
